body {
  margin: 0;
  background-image: url("Images/papyrus.jpg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.welcome {
  text-align: center;
  margin-top: 50px;
  font-size: 2em;
}

.portal{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 500px;
}

.enter-button{
  display: block;
  justify-content: center;
  display: flex;
  margin-top: 20px;
}

.btn:hover{
  transform: scale(1.2);
}

.encounter-title{
  text-align: center;
}

.choice-button{
  display: block;
  justify-content: center;
  display: flex;
}

.encounter-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 600px;
  margin-bottom: 40px;

}

.btn-secondary{
padding-left: 20px;
padding-right: 20px;
margin-left: 40px;
margin-right: 40px;
}
.btn-secondary:hover{
  transform: scale(1.05);
}

.story-text{
  font-family: sans-serif;
  font-weight:800;
  font-size: 1.2em;
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
}

.text-holder{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  padding-bottom: 30px;
}

.acc-title{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.input-form{
  margin-left: auto;
  margin-right: auto;
  display:flex;
  justify-content:center;
  align-items:center;
}

.choose{
  display: block;

  margin-right: auto;
  width: 500px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  
}

.warrior{
  margin-left: 200px;
}

.mage{
  margin-left: 200px;
}

.ranger{
  margin-left: 200px;
}