body {
  margin: 0;
  background-image: url("Images/papyrus.jpg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.welcome {
  text-align: center;
  margin-top: 50px;
  font-size: 2em;
}

.portal{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 500px;
}

.enter-button{
  display: block;
  justify-content: center;
  display: flex;
  margin-top: 20px;
}

.btn:hover{
  transform: scale(1.2);
}